.vpimg {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #854DCE;
  }
  
  @media screen and (max-width: 768px) {
    .vpimg {
       width: 80%;
       margin-left: 35px;
       margin-bottom: 46px
    }
  
    .vpimg img {
      max-width: 100%; /* Make the image responsive */
      height: auto; /* Maintain aspect ratio */
    }
  }
  

.vphtag h1{
    font-family: 'Source Serif Pro', serif; 
    font-weight: 600; 
    font-size: 40px; 
    line-height: 54.84px; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
.vphtag span{
    color:  #854DCE;
}
