.form-floating input[type=text]:focus~label,
.form-floating input[type=text]:not(:placeholder-shown)~label,
.form-floating input[type=email]:focus~label,
.form-floating input[type=email]:not(:placeholder-shown)~label,
.form-floating input[type=number]:focus~label,
.form-floating input[type=number]:not(:placeholder-shown)~label {
  transform: translateY(-1.5rem) scale(0.85);
  transition: all 0.3s ease-in-out;
}



.modal-title-syll{
    padding-left: 390px;
}
@media (max-width: 992px) {
    .modal-title-syll {
        padding-left: 70px; 
    }
}

.modal-header h4{
    color:#854DCE;
}

@media (max-width: 768px) {
    .modal-header p {
        padding-left: 100px; 
    }
}

.modal-dialog {
    max-width: 1000px; 
  }
  
  .modal-content {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); 
  }
  
  .modal-body {
    max-height: 600px; 
    overflow-y: auto; 
  }
  
.radiobtn2{
    margin-top: 20px;
}