.w-22.rounded-pill:hover {
    background-color: #854DCE;
    color: white; 
    border-color: #854DCE;
  }
  .navbarScroll span {
    color: black;
}
.navbar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: initial;
}
.navbtn{
  margin-right: 40px;
}
.navlink{
  margin-right: 30px;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff; /* Set your desired background color */
  z-index: 1000; /* Ensure the navbar stays above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
  transition: top 0.3s; /* Add smooth transition for a better user experience */
}

.navbar-scrolled {
  top: 0px; /* Set the negative height of your navbar */
}



